@import url('https://fonts.googleapis.com/css2?family=Kufam&family=Quicksand:wght@300;400;500;600&display=swap');

* {
    font-family: 'Kufam', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
.container{
    margin: 0 auto;
    padding: 0 1.5em;
}
.content-section{
    margin: 2em;
}
:root {
    --gradient: linear-gradient(45deg, #99088E,#E44CC7);

}

body {
    min-height: 100vh;
    color: #262226;
    background: #FFF2FA;
    background-size: 100%;
}

html, body{
    margin: 0;
    padding: 0;
}
.ss-name{
    font-family: 'Kufam', sans-serif;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    color: #FFF2FA;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 2em;

}

.bw-name img{
    width:32px;
    height: 35px;
    margin: 0;
}
.nav ul{
    margin: 0;

}
.nav li{
    display: inline;
    margin: 5px;

}
.nav a{
    color: #FFF2FA;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    transition: 0.5s;
    --border-color: #FEBDEA;
    --border-width: 1px;
    --bottom-distance: 0px;
    background-image: linear-gradient(var(--border-color), var(--border-color));
    background-size: 0% var(--border-width);
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    background-position: 50% calc(100% - var(--bottom-distance));
}

.nav a:hover{
    background-size: 100% var(--border-width);

}

.selected a{
    background-size: 100% var(--border-width);
}
.selected a:hover{
    background-size: 100% 2px;
}

.main-nav{
    text-align: right;
    font-size: 1.5em;
    font-weight: lighter;
    margin-right: 30px;

}
.main-nav li{
    padding: 0 ;
    margin-left: 10px;
}
.main-header{
    position: static;
    top: 0;
    width: 100%;
    padding: 5px 2%;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF2FA;
    background-image: var(--gradient);
    background-size: cover;
    overflow: hidden;

}

.main-footer {
    background-color: #FFF2FA;
    background-image: var(--gradient);
    color: #262226;
    padding: .25em 0;
    width: 100%;
    background-size: cover ;
    text-align: center;

}
.main-footer-container{
    display: inline;

}
.main-footer-container .ss-name {
     font-size: 1.5em ;
 }
.main-footer-container ul{
    display: inline-block;
    text-align: center;

    margin: 10px 550px;
}
.footer-nav li{
    padding: 0.8em;
    text-align: center;
}
.footer-nav img{
    width: 50px;
    height: 50px;
    transition: 0.3s;
    transition-property: width,height;
}
.footer-nav a:hover{
    border: none;

}
.footer-nav img:hover{
    width: 45px;
    height: 45px;
}
.page-head{
    font-size: 2em;
}
.section-name{
    font-weight: 400;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.product{
    margin: 30px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s ease-in-out;
}
.prod-img{
    height: 250px;
    width: 250px;

}
.prod-details{
    display: flex;
    align-items: center;
    padding: 5px;
}
.prod-price{
    font-weight: bold;
    font-size: 2em;
    color: #333;
}
.product:hover{
    transform: scale(1.15);
}
.form input,select{
    margin: 20px;
    width: 100%;
    font-size: 1.5em;
}
.form label{
    font-weight: 600;
    font-size: 1.5em;
}
.form{
    width: 60%;
}
.form-btns{
    margin-top: 2rem;
    display: inline-block;
}
.form-btns a{
    display: inline;
}
.btn {
    text-align: center;
    margin: 10px 2em;
    padding: .2em .69em;
    cursor: pointer;
    text-decoration: none;
}
.form-btns  .btn-primary{
    color: #FFF2FA;
    background-color: #BF19A9;
    border: none;
    border-radius: .5em;
    font-weight: bold;
    transition: .3s ease-in-out;
    transition-property: background-color;
    font-size: 1.5em;
}
.form-btns .btn-primary:hover{
    background-color: #99088E;
}
